  
   <div class="sidebar-container">
    <!-- Sidebar -->
    <div [class.sidebar]="true" [class.hidden]="!showSideBar">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/admin/products/add" routerLinkActive="active" >Add new Product</a>
      <a routerLink="/admin/products/update" routerLinkActive="active">update Product</a>
      <a routerLink="/admin/products/delete" routerLinkActive="active">delete Product</a>

      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
  
    <!-- Toggle Button -->
    <button
      type="button"
      class="btn btn-primary toggle-btn"
      (click)="toggleSidebar()"
      [class.within-sidebar]="showSideBar"
    >
      <i class="bx bx-sidebar"></i>
    </button>
  </div>