<form [formGroup]="form" (submit)="onSumbit()">

<!-- Email input  -->

  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label" for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="email address"
      class="form-control"
      formControlName="email"
      autocomplete="email"
    />
  </div>


<!-- passowrd input  -->


<div data-mdb-input-init class="form-outline mb-4">
  <label class="form-label" for="password">Password</label>
  <input
  type="password"
  id="password"
  placeholder="password"
  class="form-control"
  formControlName="password"
/>
</div>


<div class="row mb-4">
  <div class="col d-flex justify-content-center"> 
<!-- Checkbox -->
<div class="form-check">
      <input
        class="form-check-input"
        name="rememberme"
        type="checkbox"
        value=""
        id="rememberMe"
        checked
     
      />
      <label class="form-check-label" for="form2Example31">
        Remember me
      </label>
    </div>
  </div> 
  <div class="col">
    <!-- Simple link -->
    <a href="#!">Forgot password?</a>
        </div>
    
</div>



<!-- Submit button -->
<div class="form-group text-center">
  <input id="sumbit" name="sumbit" type="submit" value="Login" [disabled]="form.invalid" />




  <!-- <button type="submit" class="btn btn-success" [disabled]="form.invalid">
    Login
  </button> -->
</div>


<!-- Register buttons -->
<div class="text-center">
    <p>
      Not a member?
      <a routerLink="/register">Register</a>
    </p>
    <p>or sign up with:</p>
    <button
      type="button"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-link btn-floating mx-1"
    >
      <i class="fab fa-facebook-f"></i>
    </button> 

 <button
      type="button"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-link btn-floating mx-1"
    >
      <i class="fab fa-google"></i>
    </button>
  </div>
</form> 
